In [12]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [14]:
df= pd.read_csv('Tesla sentiment_final.csv', lineterminator='\n')

In [15]:
df

,Unnamed: 0,Unnamed: 0.1,created_at,text,cleaned_tweets,sentiment
0,0,0,2021-11-25T23:13:06.000Z,i will be business as usual till near dec9 and...,i will be business as usual till near dec9 and...,[NEGATIVE (0.9959)]
1,1,1,2021-11-25T23:09:43.000Z,What he nuked and cut off can be seen here: 19...,What he nuked and cut off can be seen here: 19...,[NEGATIVE (1.0)]
2,2,2,2021-11-25T23:07:20.000Z,$TSLA trade idea cont (3) - max profit of pin ...,$TSLA trade idea cont (3) - max profit of pin ...,[NEGATIVE (0.9937)]
3,3,3,2021-11-25T22:59:11.000Z,$TSLA trade idea.. assumptions - that stock sp...,$TSLA trade idea.. assumptions - that stock sp...,[NEGATIVE (1.0)]
4,4,4,2021-11-25T22:44:30.000Z,so you think $TSLA stock is splitting on 9Dec ...,so you think $TSLA stock is splitting on 9Dec ...,[NEGATIVE (1.0)]
...,...,...,...,...,...,...
29441,29441,29441,2021-06-14T14:01:16.000Z,$TSLA - Paul Tudor Jones likes Bitcoin because...,$TSLA - Paul Tudor Jones likes Bitcoin because...,[POSITIVE (0.6468)]
29442,29442,29442,2021-06-14T13:55:40.000Z,$SONY Sony stock will surpass $DIS Disney stoc...,$SONY Sony stock will surpass $DIS Disney stoc...,[NEGATIVE (0.8615)]
29443,29443,29443,2021-06-14T13:48:52.000Z,W Musk chiming in yet again on $btc and transp...,W Musk chiming in yet again on $btc and transp...,[NEGATIVE (0.9985)]
29444,29444,29444,2021-06-14T13:42:13.000Z,"Pump that stock, Grifter. This statement from ...","Pump that stock, Grifter. This statement from ...",[POSITIVE (0.7063)]
29445,29445,29445,2021-06-14T13:36:46.000Z,RT @latokens: STSL is live and trading on $USD...,stockatokens: STSL is live and trading on $USD...,[NEGATIVE (0.7992)]

In [16]:
df = df.drop(columns  =['Unnamed: 0.1', 'Unnamed: 0', 'text'])

In [17]:
df

,created_at,cleaned_tweets,sentiment
0,2021-11-25T23:13:06.000Z,i will be business as usual till near dec9 and...,[NEGATIVE (0.9959)]
1,2021-11-25T23:09:43.000Z,What he nuked and cut off can be seen here: 19...,[NEGATIVE (1.0)]
2,2021-11-25T23:07:20.000Z,$TSLA trade idea cont (3) - max profit of pin ...,[NEGATIVE (0.9937)]
3,2021-11-25T22:59:11.000Z,$TSLA trade idea.. assumptions - that stock sp...,[NEGATIVE (1.0)]
4,2021-11-25T22:44:30.000Z,so you think $TSLA stock is splitting on 9Dec ...,[NEGATIVE (1.0)]
...,...,...,...
29441,2021-06-14T14:01:16.000Z,$TSLA - Paul Tudor Jones likes Bitcoin because...,[POSITIVE (0.6468)]
29442,2021-06-14T13:55:40.000Z,$SONY Sony stock will surpass $DIS Disney stoc...,[NEGATIVE (0.8615)]
29443,2021-06-14T13:48:52.000Z,W Musk chiming in yet again on $btc and transp...,[NEGATIVE (0.9985)]
29444,2021-06-14T13:42:13.000Z,"Pump that stock, Grifter. This statement from ...",[POSITIVE (0.7063)]
29445,2021-06-14T13:36:46.000Z,stockatokens: STSL is live and trading on $USD...,[NEGATIVE (0.7992)]

In [18]:
df1=df.rename(columns={'created_at' : 'date'})

In [19]:
df2= df1.rename(columns={'cleaned_tweets' : 'title'})

In [20]:
df2

,date,title,sentiment
0,2021-11-25T23:13:06.000Z,i will be business as usual till near dec9 and...,[NEGATIVE (0.9959)]
1,2021-11-25T23:09:43.000Z,What he nuked and cut off can be seen here: 19...,[NEGATIVE (1.0)]
2,2021-11-25T23:07:20.000Z,$TSLA trade idea cont (3) - max profit of pin ...,[NEGATIVE (0.9937)]
3,2021-11-25T22:59:11.000Z,$TSLA trade idea.. assumptions - that stock sp...,[NEGATIVE (1.0)]
4,2021-11-25T22:44:30.000Z,so you think $TSLA stock is splitting on 9Dec ...,[NEGATIVE (1.0)]
...,...,...,...
29441,2021-06-14T14:01:16.000Z,$TSLA - Paul Tudor Jones likes Bitcoin because...,[POSITIVE (0.6468)]
29442,2021-06-14T13:55:40.000Z,$SONY Sony stock will surpass $DIS Disney stoc...,[NEGATIVE (0.8615)]
29443,2021-06-14T13:48:52.000Z,W Musk chiming in yet again on $btc and transp...,[NEGATIVE (0.9985)]
29444,2021-06-14T13:42:13.000Z,"Pump that stock, Grifter. This statement from ...",[POSITIVE (0.7063)]
29445,2021-06-14T13:36:46.000Z,stockatokens: STSL is live and trading on $USD...,[NEGATIVE (0.7992)]

In [21]:
df2.to_csv('Tesla(for 7 months) Database ')

# Construct new columns for aggregated sentiment result per day - preprocessing for model

In [22]:
#create a function to get out the boolean result per row 
def preprocess_sentiment(X):
    return X.split()[0][1:]

In [23]:
df2["sentiment_result"] = df2["sentiment"].apply(preprocess_sentiment)
df2["sentiment_result"]

0        NEGATIVE
1        NEGATIVE
2        NEGATIVE
3        NEGATIVE
4        NEGATIVE
           ...
29441    POSITIVE
29442    NEGATIVE
29443    NEGATIVE
29444    POSITIVE
29445    NEGATIVE
Name: sentiment_result, Length: 29446, dtype: object

In [24]:
df2["date"] = pd.to_datetime(df2["date"]).dt.date

In [25]:
#create a new column positive
df2["positive"] = df2["sentiment_result"].apply(lambda X: 1 if X =="POSITIVE" else  0)

In [26]:
#create a new column negative
df2["negative"] = df2["sentiment_result"].apply(lambda X: 1 if X =="NEGATIVE" else  0)

In [27]:
df2

,date,title,sentiment,sentiment_result,positive,negative
0,2021-11-25,i will be business as usual till near dec9 and...,[NEGATIVE (0.9959)],NEGATIVE,0,1
1,2021-11-25,What he nuked and cut off can be seen here: 19...,[NEGATIVE (1.0)],NEGATIVE,0,1
2,2021-11-25,$TSLA trade idea cont (3) - max profit of pin ...,[NEGATIVE (0.9937)],NEGATIVE,0,1
3,2021-11-25,$TSLA trade idea.. assumptions - that stock sp...,[NEGATIVE (1.0)],NEGATIVE,0,1
4,2021-11-25,so you think $TSLA stock is splitting on 9Dec ...,[NEGATIVE (1.0)],NEGATIVE,0,1
...,...,...,...,...,...,...
29441,2021-06-14,$TSLA - Paul Tudor Jones likes Bitcoin because...,[POSITIVE (0.6468)],POSITIVE,1,0
29442,2021-06-14,$SONY Sony stock will surpass $DIS Disney stoc...,[NEGATIVE (0.8615)],NEGATIVE,0,1
29443,2021-06-14,W Musk chiming in yet again on $btc and transp...,[NEGATIVE (0.9985)],NEGATIVE,0,1
29444,2021-06-14,"Pump that stock, Grifter. This statement from ...",[POSITIVE (0.7063)],POSITIVE,1,0
29445,2021-06-14,stockatokens: STSL is live and trading on $USD...,[NEGATIVE (0.7992)],NEGATIVE,0,1

In [28]:
df2['ticker'] = 'TSLA'

In [29]:
df2

,date,title,sentiment,sentiment_result,positive,negative,ticker
0,2021-11-25,i will be business as usual till near dec9 and...,[NEGATIVE (0.9959)],NEGATIVE,0,1,TSLA
1,2021-11-25,What he nuked and cut off can be seen here: 19...,[NEGATIVE (1.0)],NEGATIVE,0,1,TSLA
2,2021-11-25,$TSLA trade idea cont (3) - max profit of pin ...,[NEGATIVE (0.9937)],NEGATIVE,0,1,TSLA
3,2021-11-25,$TSLA trade idea.. assumptions - that stock sp...,[NEGATIVE (1.0)],NEGATIVE,0,1,TSLA
4,2021-11-25,so you think $TSLA stock is splitting on 9Dec ...,[NEGATIVE (1.0)],NEGATIVE,0,1,TSLA
...,...,...,...,...,...,...,...
29441,2021-06-14,$TSLA - Paul Tudor Jones likes Bitcoin because...,[POSITIVE (0.6468)],POSITIVE,1,0,TSLA
29442,2021-06-14,$SONY Sony stock will surpass $DIS Disney stoc...,[NEGATIVE (0.8615)],NEGATIVE,0,1,TSLA
29443,2021-06-14,W Musk chiming in yet again on $btc and transp...,[NEGATIVE (0.9985)],NEGATIVE,0,1,TSLA
29444,2021-06-14,"Pump that stock, Grifter. This statement from ...",[POSITIVE (0.7063)],POSITIVE,1,0,TSLA
29445,2021-06-14,stockatokens: STSL is live and trading on $USD...,[NEGATIVE (0.7992)],NEGATIVE,0,1,TSLA

# create the final sentiment label

In [30]:
#group by per date and ticker
df2_sentiment_count = df2.groupby(by=["date", "ticker"]).agg(sum)

In [31]:
#reset index to have date per row
df2_sentiment_count.reset_index(drop=False, inplace=True)

In [32]:
#create a new column to 
df2_sentiment_count["majority"] = df2_sentiment_count["positive"]- df2_sentiment_count["negative"]

In [33]:
df2_sentiment_count["class_label"] = df2_sentiment_count["majority"].apply(lambda x: 1 if x>0 else 0)
df2_sentiment_count.drop(columns=["positive", "negative", "majority"], inplace=True)
df2_sentiment_count

           date ticker  class_label
0    2021-06-14   TSLA            0
1    2021-06-15   TSLA            0
2    2021-06-16   TSLA            0
3    2021-06-17   TSLA            0
4    2021-06-18   TSLA            0
..          ...    ...          ...
160  2021-11-21   TSLA            1
161  2021-11-22   TSLA            0
162  2021-11-23   TSLA            0
163  2021-11-24   TSLA            0
164  2021-11-25   TSLA            0

[165 rows x 3 columns]

In [34]:
df2_sentiment_count.to_csv(" Tesla twitter_stocks_sentiment.csv")